.App {
  text-align: center;
}

.form-container {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.table-container {
  margin-top: 40px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto; 
  border: 2px solid black; 
}

th, td {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}